
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;/* evita ter que calcular espessura de borda fazendo automaticamente */
}

:root{
    --cor-fundo-body: #f9f9f9;
    --cor-texto: #333333;
    --cor-fundo-form: #ffffff;
    --cor-bordas: #cccccc;
}
@media (prefers-color-scheme: dark) {
  :root {
    --cor-fundo-body: #333333;
    --cor-texto: #ffffff;
    --cor-fundo-form: #535353;
    --cor-bordas: #343434;
  }
}
html{
  font-size: 100%;
}
body{
    background-color: var(--cor-fundo-body);
    font-family: "Work Sans"  , sans-serif;
    color: var(--cor-texto);
    outline: none;
}

main{
     width: 100%;
     max-width: 700px;
     margin: 0 auto;
}

header{
    text-align: center;
    margin: 20px;
}
header img{
  width: 100px;
}

h1{
  font-family: "Fjalla One", sans-serif;
  text-align: center;
  font-size: 2rem;
}

form{
  background-color:var(--cor-fundo-form);
  padding: 15px;
  border-radius:10px ;
  margin-bottom: 100px;
}
fieldset{
  padding: 15px;
  border: 1px solid var(--cor-bordas);
  border-radius: 5px;
  margin-bottom: 15px;
}
legend{
  font-weight: bold;
  font-size: 18px;
  padding: 0 5px;
}
p{
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 2rem;
}
label{
  display: inline-block;
  margin-bottom: 5px;
}
input[type="tel"],
input[type="file"]{
margin-bottom: 0;
}
input, select, textarea{
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid var(--cor-bordas);
  border-radius: 5px;
  background-color: var(--cor-fundo-form);
  color: var(--cor-texto); 
}
small{
  display: inline-block;
  margin-bottom: 15px;
}
small{
  display: inline-block;
  margin-bottom: 15px;
}
textarea{
  min-height: 100px;
}
input[type="radio"],
input[type="checkbox"]{
  width: auto;
}
input[type="color"]{
  width: 40px;
  padding: 0 5px;
}

input[type="text"]:invalid,
input[type="number"]:invalid,
input[type="email"]:invalid {
  border-color: red;
}

input[type="text"]:valid,
input[type="number"]:valid,
input[type="email"]:valid {
  border-color: green;
}

button{
  width: 100px;
  height: 30px;
  margin-right: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}
button[type="submit"]:hover{
  background-color: green;
  color: #ffffff;
}
button[type="reset"]:hover{
  background-color: orange;
  color: #ffffff;
}